name: sample
on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest  # windows-latest | macos-latest
    name: Test changed-files
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v29
        with:
          files: |
            docs/**

  # Run the job only with "docs_changed" equals "True"
  conditional_job:
    runs-on: 'ubuntu-20.04'
    needs: [ changed-files-specific ]
    if: needs.changed-files-specific.outputs.any_changed == 'true'
    steps:
    - shell: pwsh
      run: echo publish docs
    
    - name: Dispatch
      uses: peter-evans/repository-dispatch@v2
      with:
        token: ${{secrets.REPO_ACCESS_TOKEN}}
        repository: tnaucoin/gh-action-process
        event-type: dispatch-event
        client-payload: '{"ref": "${{ github.ref }}", "repositoryUrl": "${{ github.repositoryUrl }}"}'