name: sample
on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest  # windows-latest | macos-latest
    name: Test changed-files
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v29
        with:
          dir_names: "true"
          files: |
            docs/

      - name: Dispatch
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{secrets.REPO_ACCESS_TOKEN}}
          repository: tnaucoin/gh-action-process
          event-type: dispatch-event
          client-payload: '{"ref": "${{ github.ref }}", "repositoryUrl": "${{ github.repositoryUrl }}", "tag": "{{toJson(steps.changed-files-specific.outputs)}}"}'